@font-face {
    font-family: 'YGO';
    src: url('./YGOFont2.ttf') format('truetype'); /* Path to the font file */
  }
  
  /* Apply the font to the entire app */
  body {
    font-family: 'YGO', sans-serif; /* Fallback to sans-serif if CustomFont is not available */
  }

/* Style for the selected card at the top */
.selected-card-container {
    max-width: 300px; /* Adjust the width to be slightly larger */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selected-card-container .card-container .card-image {
    width: 100%; 
    height: auto; 
  }
  
  /* Styles for the grid of interaction results */
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); /* Consistent size columns */
    gap: 10px;
    padding: 10px;
    margin: auto;
    background-color: #1a1a1a;
  }
  
  /* Adjust the number of columns based on screen width for better control */
  @media (min-width: 300px) {
    .cards-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
  }
  
  @media (min-width: 450px) {
    .cards-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
  }
  
  @media (min-width: 600px) {
    .cards-grid {
      grid-template-columns: repeat(10, 1fr); /* 4 columns on larger screens */
    }
  }

  .card-group {
    /* Styles for the group of cards */
  }
  
  hr {
    border: 0;
    height: 10px;
    background-color: rgba(255, 165, 0, 0.6); /* Adjust the color as needed */
    margin: 20px auto; /* Center the line */
    width: 95%; /* Set width to 90% of the screen */
    border-radius: 5px; /* Add rounded edges */
  }
  

/* New class for the selected card layout */
.selected-card-layout {
  display: flex;
  flex-direction: row; /* Layout image and details side by side */
  align-items: center; /* Vertically align items */
}

.selected-card-layout .card-image-container {
  flex: 1;
  max-width: 150px; /* Adjust as needed */
  padding-right: 10px;
}

.selected-card-layout .card-details-container {
  flex: 2;
}

/* Ensure this class overrides any other card-container styles */
.selected-card-layout .card-container {
  flex-direction: column;
}
