@font-face {
    font-family: 'YGO';
    src: url('./YGOFont2.ttf') format('truetype'); 
  }
  
  body {
    font-family: 'YGO', sans-serif; 
  }

.selected-card-container {
    max-width: 300px; 
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selected-card-container .card-container .card-image {
    width: 100%; 
    height: auto; 
  }
  
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); 
    gap: 10px;
    padding: 10px;
    margin: auto;
    background-color: #1a1a1a;
  }
  
  @media (min-width: 300px) {
    .cards-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
  }
  
  @media (min-width: 450px) {
    .cards-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
  }
  
  @media (min-width: 600px) {
    .cards-grid {
      grid-template-columns: repeat(10, 1fr); /* 4 columns on larger screens */
    }
  }

  .card-group {
  }
  
  hr {
    border: 0;
    height: 10px;
    background-color: rgba(255, 165, 0, 0.6); 
    margin: 20px auto; 
    width: 95%; 
    border-radius: 5px; 
  }
  


.selected-card-layout {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.selected-card-layout .card-image-container {
  flex: 1;
  max-width: 150px; 
  padding-right: 10px;
}

.selected-card-layout .card-details-container {
  flex: 2;
}

.selected-card-layout .card-container {
  flex-direction: column;
}
